.readcube-paper-div div.journal {
    font-size: smaller;
    padding: 3px 0;
    font-style: italic;
    font-family: Times New Roman;
}

.readcube-paper-div div.title {
    font-weight: bold;
    font-size: smaller;
    padding: 3px 0;
    color: var(--joplin-url-color);
    cursor: pointer;
}

.readcube-paper-div div.authors {
    padding: 3px 0;
}

.readcube-paper-div div.tags {
    padding: 3px 0;
    font-size: small;
}

.readcube-paper-div div.rate {
    padding: 3px 0;
}

.readcube-paper-div div.abstract {
    font-family: Times New Roman;
    font-size: 0.9em;
    padding: 3px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 15;
}

.readcube-paper-div ul#pills-paper-tab {
    padding-top: 0.5em;
}

.readcube-paper-div li.nav-item {
    margin-left: 1em;
    margin-right: 1em;
}

div#pills-paper-info {
    margin-left: 5px;
    margin-right: 5px;
}
