.readcube-paper-div div.journal {
    font-size: smaller;
    padding: 3px 0;
    font-style: italic;
    font-family: Times New Roman;
}

.readcube-paper-div div.title {
    font-weight: bold;
    font-size: smaller;
    padding: 3px 0;
    color: var(--joplin-url-color);
    cursor: pointer;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.readcube-paper-div div.authors {
    padding: 3px 0;
}

.readcube-paper-div div.tags {
    padding: 3px 0;
}

.readcube-paper-div div.rate {
    padding: 3px 0;
}

.readcube-paper-div div.abstract {
    font-family: Times New Roman;
    font-size: 0.9em;
    padding: 3px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 15;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.readcube-paper-div ul#pills-paper-tab {
    padding-top: 0.5em;
}

.readcube-paper-div li.nav-item {
    margin-left: 1em;
    margin-right: 1em;
}

div#pills-paper-info {
    margin-left: 5px;
    margin-right: 5px;
}

.readcube-paper-div div.authors span.badge.text-bg-light {
    margin-right: 5px;
}

.readcube-paper-div div.tag-rate,
.paper-list .paper-info-header,
.paper-list .paper-info-author-tag {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
}

.readcube-paper-div div.non-paper-note {
    text-align: center;
}

.readcube-paper-div .non-paper-icon {
    font-size: 500%;
    opacity: 0.3;
    margin-top: 1em;
    margin-bottom: 30px;
}

.readcube-paper-div .non-paper-text {
    font-style: italic;
    opacity: 0.5;
}

.readcube-paper-div .notes {
    border: 1px solid var(--joplin-selected-color);
    border-radius: 4px;
    padding: 4px;
    font-size: small;
    margin-top: 0.8em;
}

.readcube-paper-div .user-note-label {
    text-align: center;
    font-weight: bold;
    background: var(--joplin-selected-color);
    margin: -4px -4px 4px;
}

.paper-annos li.list-group-item {
    font-size: small;
}

.paper-annos span.anno-page {
    opacity: 0.5;
}

.paper-annos .anno-part {
    margin: 4px 0;
}

.paper-annos span.anno-text {
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    padding-left: 0.5em;
    display: inline-block;
}

.paper-annos .anno-info,
.paper-refs-list .ref-info-header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
}

.paper-annos i.fas {
    padding: 2px;
}

.paper-annos .anno-buttons,
.paper-list .paper-info-buttons,
.paper-refs-list .ref-info-buttons {
    opacity: 0;
    color: dimgray;
    transition: opacity 500ms;
}

.paper-list li.list-group-item {
    font-size: small;
}

span.paper-info-title {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

span.paper-info-journal-year {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
    font-size: smaller;
    font-style: italic;
}

div.paper-annos div.search-input,
div.paper-refs-list div.search-input {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.readcube-paper-div p {
    margin-bottom: 0;
}

div.readcube-paper-div .paper-selector {
    margin: 0 20px;
    padding-top: 10px;
}

div.paper-refs-list .ref-info-header {
    margin-bottom: 5px;
}

.paper-refs-list li.list-group-item {
    font-size: small;
}

div.paper-refs-list .ref-info-title {
    display: block;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.paper-refs-list .ref-info-authors,
.paper-refs-list .ref-info-journal {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    color: gray;
}

.paper-refs-list .ref-info-journal {
    font-style: italic;
}

.paper-refs-list span.ref-info-ordinal {
    margin-left: -1em;
}

.paper-figures-list figure.paper-figure {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: small;
}

.paper-figures-list img {
    max-width: 100%;
    margin-bottom: 0.5em;
}

.paper-figures-list figcaption {
    opacity: 0.75;
}

.paper-info .note {
    border-bottom: 1px solid lightgray;
    margin-top: 1em;
    padding-bottom: 1em;
}
