html {
    overflow: auto;
}

#header {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: var(--joplin-color);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-corner {
    background: none;
}

::-webkit-scrollbar-track {
    border: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.7);
}

.nav {
    --bs-nav-link-padding-x: 0.6rem;
    --bs-nav-link-padding-y: 0.2rem;
}

div#myTabContent {
    margin-top: 2.1em;
    margin-bottom: 1.5em;
}

ul#myTab {
    background-color: var(--joplin-background-color);
}

div.spinner-border {
    text-align: center;
}

.list-group {
    --bs-list-group-color: var(--joplin-color);
    --bs-list-group-bg: var(--joplin-background-color);
}

html {
    background: var(--joplin-background-color);
    color: var(--joplin-color);
}

body {
    --bs-body-bg: var(--joplin-background-color);
    --bs-body-color: var(--joplin-color);
}

.accordion {
    --bs-accordion-color: var(--joplin-color);
    --bs-accordion-bg: var(--joplin-background-color);
}

.nav-tabs {
    --bs-nav-tabs-link-active-bg: var(--joplin-selected-color);
    --bs-nav-tabs-link-active-color: var(--joplin-color);
    --bs-nav-tabs-link-active-border-color: var(--joplin-selected-color);
    --bs-nav-tabs-border-color: var(--joplin-selected-color);
    --bs-nav-tabs-link-hover-border-color: var(--joplin-selected-color);
}

div.info-line {
    position: fixed;
    bottom: 0;
    height: 1.5em;
    background-color: var(--joplin-background-color);
    display: block;
    width: 100%;
    border-top: 1px solid var(--joplin-selected-color);
    font-size: smaller;
}

div.info-line span.line-text {
    margin-left: 1em;
}

div.info-line .info-line-spans {
    display: flex;
    float: right;
    margin-right: 1em;
}

div.info-line span {
    padding-left: 0.25em;
}
