.outline-content {
    /*min-height: calc(100vh - 3em);*/
    padding: 5px
}

.outline-content .toc-item-link {
    padding: 0 2px;
    text-decoration: none;
}

.outline-content .toc-item-link:hover {
    font-weight: bold;
}

.outline-content {
    font-family: var(--joplin-font-family);
    background-color: var(--joplin-background-color);
    margin: 10px 0 0 0;
}

.outline-content .toc-item-link {
    padding: 5px;
    font-weight: normal;
    text-decoration: none;
    line-height: 1.3em;
    color: var(--joplin-color);
    font-size: 0.9em;
}

.outline-content .toc-item-link:hover {
    background-color: var(--joplin-selected-color);
    border-radius: 4px;
}

i.fas.fa-scroll.no-toc-warn-icon {
    font-size: 500%;
    opacity: 0.3;
    margin-top: 1em;
    margin-bottom: 30px;
}

p.no-toc-warn-text {
    font-style: italic;
    opacity: 0.5;
}

div.no-toc-warn {
    text-align: center;
}

.outline-content .toc-item-link.current-header {
    color: var(--joplin-url-color);
    font-weight: bold;
}
