.inline-todo-div {
    font-size: 0.9em;
    word-break: break-all;
}

.inline-todo-div.badge.rounded-pill {
    vertical-align: middle;
}

.inline-todo-div .form-check-label:hover {
    cursor: pointer;
}
