.inline-todo-div {
    font-size: 0.9em;
    word-break: break-all;
}

.inline-todo-div.badge.rounded-pill {
    vertical-align: middle;
}

.inline-todo-div .form-check-label:hover {
    cursor: pointer;
}

.inline-todo-div p {
    display: inline !important;
}

.inline-todo-div .form-check-label a {
    pointer-events: none;
}

.inline-todo-div div.task-badge {
    display: flex;
    float: right;
}

.inline-todo-div span.badge.rounded-pill {
    opacity: 0.75;
}

.inline-todo-div ul#pills-tab {
    padding-top: 1em;
}

i.fas.no-task-icon {
    font-size: 500%;
    opacity: 0.3;
    margin-top: 1em;
    margin-bottom: 30px;
    display: block;
}

p.no-task-text {
    font-style: italic;
    opacity: 0.5;
}

div.no-task-cheer {
    text-align: center;
}

div.inline-todo-div li.nav-item {
    margin-left: 1em;
    margin-right: 1em;
}

div.inline-todo-div li.list-group-item.priority-4 {
    border-left: 5px solid transparent;
}

div.inline-todo-div li.list-group-item.priority-3 {
    border-left: 5px solid #549644;
}

div.inline-todo-div li.list-group-item.priority-2 {
    border-left: 5px solid #f8d15f;
}

div.inline-todo-div li.list-group-item.priority-1 {
    border-left: 5px solid #e33e2f;
}

div.inline-todo-div span.badge.bg-primary,
div.inline-todo-div span.badge.rounded-pill.bg-info {
    opacity: 0.75;
}
