table.dailynote-table {
    text-align: center;
    font-size: smaller;
    width: 100%;
    table-layout: fixed;
}

table.dailynote-table td {
    width: 2.5em;
    height: 3em;
}

table.dailynote-table .day:hover {
    background-color: #ececec;
}

table.dailynote-table .day {
    border-radius: 4px;
}

table.dailynote-table .curr-day {
    background-color: antiquewhite;
}

table.dailynote-table div.dot-container {
    display: inline-flex;
}

table.dailynote-table div.noNote div.dot-container {
    visibility: hidden;
}

table.dailynote-table svg.dot {
    height: 0.6em;
    fill: yellowgreen;
}

table.dailynote-table td.prev-month,
table.dailynote-table td.next-month {
    color: lightgray;
}

table.dailynote-table thead {
    font-weight: bold;
}

button.btn.btn-current {
    font-size: small;
}

div.month-container {
    padding: 5px 10px;
    vertical-align: middle;
    width: 100%;
}

button.button-current {
    width: 50%;
    color: cornflowerblue;
    vertical-align: middle;
}

button.btn.button-next,
button.btn.button-previous {
    color: dimgray;
}

.day.hasNote.level-1 {
    background: rgba(242, 75, 125, 0.1);
}

.day.hasNote.level-2 {
    background: rgba(242, 75, 125, 0.2);
}

.day.hasNote.level-3 {
    background: rgba(242, 75, 125, 0.3);
}

.day.hasNote.level-4 {
    background: rgba(242, 75, 125, 0.4);
}

.day.hasNote.level-5 {
    background: rgba(242, 75, 125, 0.5);
}

.day.hasNote.level-6 {
    background: rgba(242, 75, 125, 0.6);
}

.day.hasNote.level-7 {
    background: rgba(242, 75, 125, 0.7);
}

.day.hasNote.level-8 {
    background: rgba(242, 75, 125, 0.8);
}

.day.hasNote.level-9 {
    background: rgba(242, 75, 125, 0.9);

}

.day.hasNote.level-10 {
    background: rgba(242, 75, 125, 1);
}
